.DS_Store
*~
/obv_messenger/app/release/
/obv_messenger/app/devFull/
avd/
*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/caches
.idea/misc.xml
.idea/deploymentTargetDropDown.xml
build
/captures
.externalNativeBuild
/obv_messenger/.kotlin/