*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/misc.xml
/.idea/caches
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetDropDown.xml
/.idea/deploymentTargetSelector.xml
/.idea/studiobot.xml
/.idea/other.xml
.DS_Store
build
/captures
.externalNativeBuild
