<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS" tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_REMOTE_MESSAGING" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.HIDE_OVERLAY_WINDOWS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE_SECURE" />
        </intent>
        <intent>
            <action android:name="android.media.action.VIDEO_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="*/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="geo" />
        </intent>
    </queries>

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:localeConfig="@xml/locales_config"
        android:networkSecurityConfig="@xml/network_security_config"
        android:manageSpaceActivity="io.olvid.messenger.activities.storage_manager.StorageManagerActivity"
        android:intentMatchingFlags="enforceIntentFilter"
        tools:ignore="CredManMissingDal">

        <meta-data android:name="android.content.APP_RESTRICTIONS"
            android:resource="@xml/app_restrictions" />

        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />


        <activity
            android:name=".main.MainActivity"
            android:theme="@style/AppTheme.Splashscreen"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:exported="true">
        </activity>
        <activity-alias
            android:name=".main.MainActivityDefault"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:targetActivity=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".main.MainActivityWhite"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_white"
            android:targetActivity=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".main.MainActivityBlack"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_black"
            android:targetActivity=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".main.MainActivityBlueHollow"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_blue_hollow"
            android:targetActivity=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".main.MainActivityRainbow"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_rainbow"
            android:targetActivity=".main.MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <meta-data
            android:name="android.app.shortcuts"
            android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".main.MainActivityBubbles"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_bubbles"
            android:label="@string/app_name_bubbles"
            android:targetActivity=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".main.MainActivityPurple"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_gradient_purple"
            android:targetActivity=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".main.MainActivityGhost"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_ghost"
            android:label="@string/app_name_ghost"
            android:targetActivity=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".main.MainActivityLightBlue"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_gradient_light_blue"
            android:targetActivity=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".main.MainActivityGem"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_gem"
            android:label="@string/app_name_gem"
            android:targetActivity=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".main.MainActivityRosace"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_rosace"
            android:label="@string/app_name_rosace"
            android:targetActivity=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".main.MainActivityWeather"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_weather"
            android:label="@string/app_name_weather"
            android:targetActivity=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".main.MainActivityBricks"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_bricks"
            android:label="@string/app_name_bricks"
            android:targetActivity=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".main.MainActivityBlackClock"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_black_clock"
            android:label="@string/app_name_clock"
            android:targetActivity=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
        android:name=".main.MainActivityWhiteClock"
        android:enabled="false"
        android:exported="true"
        android:icon="@mipmap/ic_launcher_white_clock"
        android:label="@string/app_name_clock"
        android:targetActivity=".main.MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <meta-data
            android:name="android.app.shortcuts"
            android:resource="@xml/shortcuts" />
    </activity-alias>
        <activity-alias
        android:name=".main.MainActivityCalculator"
        android:enabled="false"
        android:exported="true"
        android:icon="@mipmap/ic_launcher_calculator"
        android:label="@string/app_name_calculator"
        android:targetActivity=".main.MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <meta-data
            android:name="android.app.shortcuts"
            android:resource="@xml/shortcuts" />
    </activity-alias>

        <activity
            android:name=".activities.ObvLinkActivity"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:noHistory="true"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar.FullScreenTransparent">
            <intent-filter android:label="@string/link_label_invitation_url">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="olvid"
                    android:host="invitation.olvid.io" />
            </intent-filter>
            <intent-filter android:label="@string/link_label_configuration_url">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="olvid"
                    android:host="configuration.olvid.io" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="olvid"
                    android:host="web.olvid.io" />
            </intent-filter>
            <intent-filter android:label="@string/link_label_invitation_url" android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="invitation.olvid.io" />
            </intent-filter>
            <intent-filter android:label="@string/link_label_configuration_url" android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="configuration.olvid.io" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="web.olvid.io" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.NotificationSettingsOpenerActivity"
            android:launchMode="singleInstance"
            android:taskAffinity=""
            android:noHistory="true"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar.FullScreenTransparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity
            android:name=".discussion.DiscussionActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize"/>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/activity_title_settings" />
        <activity
            android:name=".owneddetails.OwnedIdentityDetailsActivity"
            android:label="@string/activity_title_my_details" />
        <activity
            android:name=".activities.ContactDetailsActivity"
            android:label="@string/activity_title_contact_details" />
        <activity
            android:name=".group.GroupDetailsActivity"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/activity_title_group_details" />
        <activity android:name=".group.GroupV2DetailsActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/activity_title_group_details" />
        <activity android:name=".group.GroupCreationActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".gallery.GalleryActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".discussion.gallery.DiscussionMediaGalleryActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:theme="@style/AppTheme.NoActionBar.Black"/>
        <activity
            android:name=".activities.ShareActivity"
            android:taskAffinity=""
            android:alwaysRetainTaskState="false"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:stateNotNeeded="true"
            android:theme="@style/AppTheme.NoActionBar.Transparent.Dimmed"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>

            <meta-data
                android:name="android.service.chooser.chooser_target_service"
                android:value="androidx.sharetarget.ChooserTargetServiceCompat" />
        </activity>
        <activity
            android:name=".activities.ShortcutActivity"
            android:alwaysRetainTaskState="false"
            android:excludeFromRecents="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/label_discussion_shortcut"
            android:noHistory="true"
            android:stateNotNeeded="true"
            android:theme="@style/AppTheme.NoActionBar.Transparent.Dimmed"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
             android:name="net.openid.appauth.RedirectUriReceiverActivity"
             android:exported="true"
             tools:node="replace">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https" android:host="${KEYCLOAK_REDIRECT_HOST}" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="olvid.openid" android:host="${KEYCLOAK_REDIRECT_HOST}"/>
            </intent-filter>
         </activity>
        <activity
            android:name=".discussion.message.MessageDetailsActivity"
            android:label="@string/activity_title_message_details" />
        <activity
            android:name=".main.archived.ArchivedDiscussionsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/activity_title_archived_discussions" />
        <activity
            android:name=".main.bookmarks.BookmarkedMessagesActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/activity_title_bookmarks" />
        <activity
            android:name=".discussion.settings.DiscussionSettingsActivity"
            android:label="@string/activity_title_discussion_settings" />
        <activity
            android:name=".activities.LockScreenActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".onboarding.OnboardingActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".onboarding.flow.OnboardingFlowActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".troubleshooting.TroubleshootingActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".appdialogs.AppDialogShowActivity"
            android:configChanges="orientation|screenSize|screenLayout|uiMode"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar.DimmedWithStatusTransparent" />
        <activity
            android:name=".owneddetails.SelectDetailsPhotoActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreenBlack" />
        <activity
            android:name=".webrtc.WebrtcCallActivity"
            android:theme="@style/AppTheme.NoActionBar.Black"
            android:label="@string/activity_title_webrtc_call"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:supportsPictureInPicture="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTask"
            android:taskAffinity=""
            tools:targetApi="o_mr1" />
        <activity
            android:name=".webrtc.WebrtcIncomingCallActivity"
            android:theme="@style/AppTheme.NoActionBar.Black"
            android:label="@string/activity_title_webrtc_incoming_call"
            android:excludeFromRecents="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            tools:targetApi="o_mr1" />
        <activity android:name=".notifications.MuteDiscussionDialogActivity"
            android:alwaysRetainTaskState="false"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:stateNotNeeded="true"
            android:theme="@style/AppTheme.NoActionBar.Transparent.Dimmed" />
        <activity android:name=".openid.KeycloakAuthenticationActivity"
            android:configChanges="orientation|screenSize|screenLayout|uiMode"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar.Transparent" />
        <activity android:name=".settings.StorageExplorer"
            android:label="@string/activity_title_storage_explorer"
            tools:targetApi="24" />
        <activity android:name=".widget.ActionShortcutConfigurationActivity"
            android:theme="@style/AppTheme.NoActionBar.Transparent.Dimmed"
            android:exported="false"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <activity android:name=".widget.ActionShortcutSendMessageActivity"
            android:theme="@style/AppTheme.NoActionBar.Transparent"
            android:alwaysRetainTaskState="false"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:stateNotNeeded="true" />
        <activity android:name=".activities.storage_manager.StorageManagerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".discussion.poll.PollCreationActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".discussion.poll.PollResultActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".plus_button.scan.ScanActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"/>

        <service android:name=".notifications.NotificationActionService"
            android:exported="false"/>
        <service
            android:name=".services.UnifiedForegroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location|remoteMessaging"/>
        <service
            android:name=".webrtc.WebrtcCallService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="microphone|specialUse|mediaProjection">
            <property android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="This service is started for VoIP both outgoing and incoming VoIP calls. For outgoing calls, the microphone permission is already granted and service can be started as microphone, for incoming calls we start a foreground service while the phone is ringing, following the reception of a push notification. As soon as the recipient picks up the call and grants audio permission, the foreground service is restarted as a microphone service."/>
        </service>
        <service android:name=".services.MediaPlayerService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback"/>

        <receiver android:name=".services.MessageExpirationService"
            android:exported="false"/>
        <receiver android:name=".services.NetworkStateMonitorReceiver"
            android:exported="false"/>
        <receiver android:name=".services.BootBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".services.AlarmPermissionStateChangeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.app.action.SCHEDULE_EXACT_ALARM_PERMISSION_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".widget.ActionShortcutWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/action_shortcut_widget_provider_info" />
        </receiver>

        <provider
            android:name=".services.FyleContentProvider"
            android:authorities="${applicationId}.PROVIDER"
            android:exported="false"
            android:grantUriPermissions="true" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.PICTURE_FILES_PROVIDER"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picture_provider_paths" />
        </provider>
    </application>

</manifest>